.header{
  width: 100%;
  height: 120px;
  /* background-color: #fa5330; */
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.header__navbar{
  display: flex;
  justify-content: space-between;
}
.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}

.header__navbar-item{
  margin: 0 8px;
  font-weight: 500;
  position: relative;
  min-height: 26px;
}

.header__navbar--link,
.header__navbar-item{
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
  
}




.header__navbar-item,
.header__navbar--link,
.header__navbar-list{
  display: inline-flex;
  align-items: center;
}


.header__navbar--link:hover,
.header__navbar-item:hover{
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}


.header__navbar-item--strong{
  font-weight: 400;
}

.header__navbar-item--separate::after{
  content: "";
  display: block;
  position: absolute;
  border-right: 1px solid hsla(0,0%,100%,.4);
  height: 16px;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.header__navbar-icon-link{
  color: var(--white--color);
  text-decoration: none;
}
.header__navbar-icon{
  font-size: 1.8rem;
  color: var(--white--color);
}

.header__navbar-icon-link
{
  font-size: 1.8rem;
  margin: 0 4px;
}
.header__navbar-icon-bell,
.header__navbar-icon-help{
  color: var(--white--color);
  margin: 0 4px;
}
.header__navbar-title--no-pointer:hover{
  cursor: text;
  color: var(--white--color);
}